# 应用标题
VITE_APP_TITLE=潮声后台管理

# 应用命名空间，用于缓存、store 等功能的前缀，确保隔离
VITE_APP_NAMESPACE=vben-web-ele

# 对 store 进行加密的密钥，本地替换为自己的值，不要提交真实密钥
VITE_APP_STORE_SECURE_KEY=please-replace-me-with-your-own-key

# 端口号
VITE_PORT=5878

VITE_BASE=/

# 接口地址
VITE_GLOB_API_URL=/api

# 是否开启 Nitro Mock 服务
VITE_NITRO_MOCK=false

# 是否打开 devtools
VITE_DEVTOOLS=false

# 是否注入全局 loading
VITE_INJECT_APP_LOADING=true

# 是否开启压缩，可以设置为 none, brotli, gzip
VITE_COMPRESS=none

# 是否开启 PWA
VITE_PWA=false

# vue-router 的模式
VITE_ROUTER_HISTORY=hash

# 打包后是否生成 dist.zip
VITE_ARCHIVER=true
